@import "tailwindcss";
:root {
  --background: #FFFFFF;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #EDEDED;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@import "tailwindcss";
:root {
  --background: #FFFFFF;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
select:focus {
  outline: none;
  box-shadow: none;
  border-color: #B8906E;
}
select:focus::-moz-focus-inner {
  border-color: #B8906E;
  padding: 0;
}
select::-ms-focusring {
  outline: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}